.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.navBar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #738290;
  margin: 15px;
  border-radius: 12px;
}

a {
 text-decoration: none;
 margin: 15px; 
 color: black;
}

a:hover {
  color: white;

}

.GC {
  border: solid 1.5px;
  border-radius: 12px;
  background-color: #fffcf7;
}

.footerBar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #738290;
  height: 100px;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
}